.detail__nav {
    width: 320px;
    height: 56px;
    background-color: rgba(112, 104, 94, 0.8);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 23px;
    padding-right: 27px;
}

#back {
    width: 8px;
    height: 16px;
}

#option {
    width: 2px;
    height: 20px;
}