.info-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow-y: hidden;
}

.info {
    width: 100%;
    min-height: 2.5rem;
    margin-bottom: 1rem;
}

.info.status {
    width: 5.5rem;
    height: 2.5rem;
    border-radius: 0.5rem;
    border: 1px solid var(--color-grey3);
    padding: 0px 10px;
}

.sub-header-container {
    margin-top: 0.3rem;
}

.grey-text {
    color: var(--color-grey);
}

.small-text {
    font-size: 0.75rem;
}

.description {
    line-height: 1.45rem;
}

.info.count {
    min-height: 1rem;
}

.grey2-text {
    color: var(--color-grey2);
}

.seller {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border: none;
    background-color: var(--color-light-white);
}

h1 {
    font-size: 1.2rem;
}

.black-bold-text {
    font-weight: bold;
    color: black;
}