.chat{ 
    display: flex;
    height: 72px;
    border: 1px solid var(--color-light-grey);
    padding: 16px;
    justify-content: space-between;
    align-items: center;
}

.chatOutline{
    width: 100%;
}

.chat__name {
    color: var(--color-error)
}

.chat__info {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: var(--font-micro);
}

.chat__time {
    font-size: var(--font-nano);
    color: var(--color-grey);
    margin-bottom: 3px;
}

.chat__rightSide{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chat__rightSide div{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.chat__count{
    font-size: var(--font-nano);
    background-color: var(--color-baemin-span);
    border-radius: 50%;
    color: var(--color-white);
    width: 20px;
    height: 20px;
    position: relative;
}

.chat__count span{
    position: absolute;
    top: 5px;
    left: 8px;
}

.chat__content {
    color: var(--color-grey);
    width: 160px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
} 

.chat__imgs {
    width: 50px;
    height: 50px;
    border: 1px solid var(--color-light-grey);
    margin-left: 16px;
    border-radius: 6px;
}