.userWrapper {
    visibility: hidden;
    transition: all 400ms ease-in-out;
    transform: translateX(100%);
    opacity: 0%;
}
.userWrapper.active {
    visibility: visible;
    transform: translateX(0%);
    opacity: 100%;
}
