.post{
    padding: 24px 16px;
    border-top: 1px solid var(--color-light-grey);
    border-bottom: 1px solid var(--color-light-grey);
}

.post__container{
    display: flex;
    gap: 10px;
    overflow-x: auto;
    overflow-y: hidden;
}

.post__imgOuter{
    width: 90px;
    height: 90px;
    position: relative;
}

.post__removeBtn{
    position: absolute;
    top: 0px;
    right: 0px;
    color: var(--color-white);
    background-color: var(--color-black);
    width: 24px;
    height: 24px;
    border-radius: 50%;
   
}

.post__imgContainer{
    width: 76px;
    height: 76px;
    background: var(--color-Offwhite);
    border: 1px solid var(--color-grey3);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* Inside Auto Layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    position: relative;
}
.post__imgContainer img{
    width: 18px;
    height: 18px;
}



.post__imgContainer span{
    color: var(--color-grey);
    font-size: var(--font-nano);
    line-height: 16px;
}

.category {
    display: flex;
    flex-direction: column;
    
}

.category span {
    width: 288px;
    height: 20px;
    font-size: var(--font-micro);
    line-height: 20px;
    color: var(--color-grey2);
    font-weight: var(--weight-regular);
}

.category__buttonOuter{
    display: flex;
    gap: 5px;
    overflow-x: auto;
}

.category__button{
    border: 1px solid var(--color-light-grey);
    border-radius: 18px;
    width: 120px;
    height: 30px;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    background-color: var(--color-white);
    color: var(--color-grey);
    

    /* Inside Auto Layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.category__button.active{
    border: none;
    background-color: var(--color-baemin);
    color: var(--color-white);
 
}

.post__title {
    font-size: var(--font-small);
    font-weight: var(--weight-bold);
}

.post input{
    width: 288px;
    height: 22px;
    border: none;
    font-size: var(--font-small);
    line-height: 22px;
    font-weight: var(--weight-regular);
    margin: 8px 0px;
}

.post textarea{
    width: 288px;
    border: none;
    font-size: var(--font-small);
    font-weight: var(--weight-regular);
    margin: 8px 0px;
    resize: none;
    height: 60px;
    /* textarea 높이 가변조절 */
    overflow-y:hidden;
}

#image {
    position: absolute;
    top: 0px;
    bottom: 0px;
    opacity: 0;
    width: 70px;
    height: 70px;
}