.signup {
    padding: 25px 15px;
    font-size: var(--font-micro);
    width: 100%;
}

.largeInput {
    width: 290px;
    height: 40px;
    border: 1px solid #D7D7D7;
    border-radius: 8px;
    padding: 10px 16px 8px;
    margin-bottom: 25px;
    font-size: var(--font-small);
}

.largeInput::placeholder{
    font-weight: var(--font-regular);
    font-size: var(--font-micro);
}

.signup div {
    margin-bottom: 10px;
}
/* 
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 10px 16px 8px;

position: absolute;
width: 290px;
height: 40px;
left: 15px;
top: 52px;

/* White */

/* background: #FFFFFF; */
/* Grey3 */
/* 
border: 1px solid #D7D7D7;
box-sizing: border-box;
border-radius: 8px;  */