.section {
    display: flex;
    flex-direction: column;
}

.img-container-wrapper {
    transition: transform 0.5s;
    width: 100%;
}

.info-container-wrapper {
    width: calc(100%-2rem);
    flex-grow: 1;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 1.5rem;
    overflow-y: hidden;
}

