.nav {
    width: 320px;
    height: 56px;
    background: var(--color-baemin);
    border-radius: 0px 0px 16px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
}

.nav__rightSide {
    display: flex;
    justify-content: space-between;
}